<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">

                        <form ng-submit="searchPerson(name)">
                          <input ng-model="name" placeholder="Find Avengers by name" type="text" autofocus/>
                          <input type="submit" value="Submit">
                        </form>
                        <table class="table table-condensed table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Movie</th>
                                <th>Rating</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="m in vm.movieList">
                              <td>
                                <img ng-src="{{ 'http://image.tmdb.org/t/p/w370/' + m.poster_path || 'https://image.tmdb.org/t/p/w185/jnbvydGrfPeSlYnIQ2XI3z3IDmh.jpg' }}" />
                              </td>
                                <td><span class="avenger-name">{{ m.original_title }}</span></td>
                                <td><span class="avenger-name">{{ m.vote_average * 10 }}%</span></td>
                                <td>{{ m.overview }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
